.contener{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
}
.header-top{
    position: relative;
    margin-bottom: 34px;
}
.header-top ul{
    display: inline-block;
    vertical-align: 5px;
}
.header-top li{
    display: inline-block;
    margin-right: 20px;
}
.header-top li a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.header-top li a:hover{
    color: red;
    border-bottom: 1px dashed red;
}
.header-top li::after{
    content: "";
    border-right: 2px solid #ccc;
    margin-left: 20px;
    height: 80%;
}
.header-top li:last-child::after{
    content: none;
}
.fa-shopping-cart{
    color: #004829;
    
}
.cabinet{
    display: inline-block;
    position: relative;
    top: 0;
    left: 230px;
}
.cabinet a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: normal;
    margin-right: 4px;
    vertical-align: 2px;
}
.cabinet a.fa-lock{
    margin-right: 4px;
    color: #004829;
}
.fa.fa-lock{
    font-size: 1.5em;
    vertical-align: -1px;
}
.cart{
    display: inline-block;
    position: relative;
    top: 0;
    left: 106px;
}
.cart a i.fa-shopping-cart{
    font-size: 1.5em;
}
.cart a{
    display: inline-block;
    color: #004829;
    vertical-align: 2px;
    text-decoration: none;
    margin-right: 4px;
}
.cart span{
    font-weight: 500;
    font-size: 20px;
}
/* сдесь стили для header-mid*/
.header-mid{
    position: relative;
    margin-bottom: 24px;
}
.logo{
    position: relative;
    display: inline-block;
    width: 200px;
    text-align: center;
}
.header-mid-icon{
    position: absolute;
    top: 8px;
    left: 15px;
}
.header-mid .text strong{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #004829;
}
.header-mid .text span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.header-icon{
    top: 8px;
    left: 158px;
}
.adress{
    position: relative;
    display: inline-block;
    top: -3px;
    left: 135px;
}
.adress img{
    position: absolute;
    top: 4px;
    left: 6px;
}
.adress p{
    margin-left: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.adress span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.email{
    position: relative;
    display: inline-block;
    top: -3px;
    left: 256px;
}
.email img{
    position: absolute;
    top: 9px;
    left: 5px;
}
.email p{
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.email p a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.tel{
    position: relative;
    display: inline-block;
    top: -3px;
    left: 372px;
}
.tel img{
    position: absolute;
    top: 6px;
    left: 6px;
}
.tel p{
    margin-left: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.tel p a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.adress::after{
    content: "";
    position: absolute;
    border-right: 2px solid #ccc;
    top: 4px;
    right: -54px;
    height: 80%;
}
.email::after{
    content: "";
    position: absolute;
    border-right: 2px solid #ccc;
    top: 4px;
    right: -54px;
    height: 80%;
}
/* header button */
.header-button{
    background-color: #004829;
}
.header-button-left{
    position: relative;
    margin-top: 20px;
    display: inline-block;
    margin-right: 6px;
    top: -4px;
}
.header-button-left ul{
    list-style: none;
    display: inline-block;
}
.header-button-left ul li{
    display: inline-block;
    margin-right: 12px;
}
.header-button-left ul li a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.header-button-left ul li::after{
    content: "";
    border-right: 2px solid #ccc;
    height: 60%;
    margin-left: 10px;
}
.header-button-left ul li:last-child::after{
    content: none;
}
.header-button-right{
    display: inline-block;
    position: relative;
    top: -5px;
    left: 40px;
}
.header-button-right input{
    outline: 0;
    padding: 5px 0px;
}
.header-button-right img{
    position: absolute;
    top: 6px;
    left: 148px;
}
/* слайдер */








